@font-face {
  font-family: "Inter";
  src: url("../../assets/Inter-font.ttf");

}

.bg-lightblue {
  background-color: #abfbff;
}

.logo {
  font-size: 45px;
  font-family: "Inter";
}

.routes {
    gap: 20px;
    font-size: 25px;
    font-weight: 500;
}

.offcanvas {
  background-color: #f8f9fa; 
}

.offcanvas .nav-link {
  font-size: 1.2rem;
  color: #333;
}

.offcanvas .nav-link:hover {
  color: #007bff; 
}

@media (max-width: 1023px){
  .logo{
    font-size: 40px;
  }
}
