@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
html, body{
    background-color: rgb(41, 41, 41);
    height: 100%;
    margin: 0;
    padding: 0;
}
/* ------------------------------------------------------------------NAV------------------------------------------------------------------ */
.navColor{
    background-color: #ABFBFF;
}
.navTitle{
    font-family: Inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 220%;
    margin-left: 44.5%;
    margin-right: 5%;
}
.navLinks{
    font-family: Inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150%;
}
/* ------------------------------------------------------------------END OF NAV------------------------------------------------------------------ */
.react-calendar__navigation{
  text-align: center;
  margin: 0 ;
}
.react-calendar__month-view__weekdays{
  text-align: center;
  width: 100vw;
  max-width: 100%;
}
.react-calendar__month-view__weekdays__weekday{
  background-color: gray;
  border-radius: 50%;
  padding: 20px;

}
.react-calendar__month-view__days{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}
